.promoOne {
    position: absolute;
    width: 149px;
    height: 204px;
    background-color: rgba(158, 152, 220, 1);
    top: 79px;
    right: -85px;
    box-shadow: 0 24px 36px rgba(53, 49, 84, 0.28);
    cursor: pointer;
    .promoOne__text {
        display: block;
        font: bold 18px "Montserrat", sans-serif;
        text-transform: uppercase;
        padding: 102px 20px 0;
    }
    .promoOne__arrow {
        margin-left: 20px;
    }
}

.promoTwo {
    position: absolute;
    width: 137px;
    height: 273px;
    top: 359px;
    right: -160px;
    background-color: rgba(255, 143, 230, 1);
    box-shadow: 0 24px 36px rgba(53, 49, 84, 0.28);
    cursor: pointer;
    .promoTwo__text {
        display: block;
        font: bold 18px "Montserrat", sans-serif;
        text-transform: uppercase;
        padding: 149px 47px 0 21px;
    }
    .promoTwo__arrow {
        margin-left: 21px;
    }
}