.profile {
    width: 241px;
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: default;
    .profile__title {
        font-size: 16px;
        color: rgba(28, 42, 57, 1);
        margin-top: 17px;
    }
    .profile__form {
        width: 176px;
        height: 100%;
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .form__label{
            display: flex;
            flex-direction: column;
            gap: 9px;
            font: bold 12px "Montserrat", sans-serif;
            .form__label_input {
                width: 100%;
                height: 35px;
                border: 1px solid rgba(76, 61, 178, 1);
                color: rgba(76, 61, 178, 1);
                padding-left: 9px;
                font-size: 12px;
                font-weight: bold;
            }
            .form__label_input:focus {
                border: 1px solid rgba(76, 61, 178, 1);
            }
            .form__label_input_err {
                border: 1px solid rgba(255, 53, 58, 1);
                color: rgba(255, 53, 58, 1);
            }
            .form__label_input::placeholder {
                color: rgba(76, 61, 178, 1);
            }
        }
        .form__password_valid {
            width: 207px;
            font: bold 8px "Montserrat", sans-serif;
            color: rgba(255, 53, 58, 1);
            align-self: center;
            display: block;
            margin-top: -8px;
        }
        .profile__btn {
            margin-top: auto;
            margin-bottom: 36px;
            width: 176px;
            height: 32px;
            color: rgba(255, 255, 255, 1);
            background-color: rgba(158, 152, 220, 1);
            border: none;
            cursor: pointer;
        }
        .profile__btn:hover {
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(158, 152, 220, 1);
            color: rgba(158, 152, 220, 1);
        }
    }
}