.book {
    width: 424px;
    height: 300px;
    display: flex;
    gap: 36px;
    z-index: 1;
    .book__img {
        width: 212px;
        height: 300px;
        box-shadow: 0 24px 36px rgba(53, 49, 84, 0.28);
    }
    .blockDescription {
        width: 176px;
        height: 203px;
        margin-top: 49px;
        .blockDescription__text {
            font: 10px "Open Sans", sans-serif;
            color: rgba(92, 106, 121, 1);
        }
        .blockDescription__name {
            width: 176px;
            font-size: 16px;
            line-height: 100%;
            margin-top: 4px;
        }
        .blockDescription__review {
            padding-top: 4px;
        }
        .blockDescription__description {
            width: 176px;
            height: 35px;
            margin-top: 16px;
            text-transform: capitalize;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
        .blockDescription__price {
            font: bold 13px "Montserrat", sans-serif;
            padding-top: 16px;
        }

    }
}