.blockBtn {
    display: flex;
    gap: 10px;
    justify-content: center;
    .blockBtn__btn {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(239, 238, 246, 1);
        cursor: pointer;
    }
    .blockBtn__btn_active {
        background-color: rgba(158, 152, 220, 1);
    }
}